python-dotenv
langchain
langchain-core
langchain-community
langchain-groq
langgraph
pypdf
langchain-text-splitters
lancedb
sentence-transformers
langchain-huggingface
ddgs
yfinance

# Resolve dependicies issues.
numpy==1.26.4
torch==2.2.2
sentence-transformers==2.7.0
transformers==4.40.2
